<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form (submit)="register()" [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input name="name" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="danger">Register</ion-button>
  </form>
</ion-content>
